@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Magra');
body {
margin:0;
font-family: 'Magra', sans-serif;
font-size: 16px;
/*background-color: #EAE2E2 !important; */ 
}
.container{
	padding: 10px;
} 

.container-fluid {
    padding: 15px;
    margin: 15px;
}
h1 {color: gray;padding-bottom: 5px;}
