# Node related
node_modules
build
npm-debug.log
*.env
*.DS_Store
*.log

# pycharm folders to ignore
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.vscode
*.jar


dataset*.csv