<html>
    <head>
        <title>Sessions practice</title>
        {% if session['mode'] == 'dark' %}
        <style>
            body {
            background-color: black;
            color: white;
            }
        </style>
        {% endif %}
    </head>
    <body>

    <h1>Hello</h1>

    <a href="{{ url_for('set_background', mode='light') }}">Light Mode</a>
    <a href="{{ url_for('set_background', mode='dark') }}">Dark Mode</a>

    <p>
        <a href="{{ url_for('drop_session') }}">Drop session</a>
    </p>
    </body>
</html>