<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- MORE INFO: https://testng.org/doc/documentation-main.html#parallel-tests -->
<suite name="Suite" parallel="tests">
	<test name="Test">
		<classes>
			<class name="testcases.testcase1" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
