<html>
    <head>
        <title>Flask FieldList Demo</title>
    </head>
    <body>
<form action="/" method="POST" role="form">
    {{ form.hidden_tag() }}
{% for question in form if question.widget.input_type != 'hidden' %}
    {{ question.label }}
            {{ question }}

             {% endfor %}

<br/>
    {{ form2.hidden_tag() }}
    {% for question in form2 %}
    {{ question.label }}
            {{ question }}

             {% endfor %}
    <br/>
    {{ form3.hidden_tag() }}
    {% for question in form3 %}
    {{ question.label }}
            {{ question }}

             {% endfor %}
</form>
    </body>
</html>